:root {
  --primary-background-color: #333333;
  --secondary-background-color: #707379;
  --primary-text-color: white;
  --color-change-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7454%) hue-rotate(268deg) brightness(118%) contrast(101%);
}