:root {
  --primary-background-color: white;
  --secondary-background-color: #f0eae2;
  --primary-text-color: black;
  --color-change-filter: none;
  --button-hover-color: #dad3cb;
  --shadow-color: rgba(0, 0, 0, 0.2);
}