:root {
  --primary-background-color: white;
  --secondary-background-color: #f0eae2;
  --primary-text-color: black;
  --color-change-filter: none;
  --button-hover-color: #dad3cb;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --to-top-button-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7454%) hue-rotate(268deg) brightness(118%) contrast(101%);
  --basic-shadow: 0 2px 6px var(--shadow-color);
}